@tailwind base;
@tailwind components;
@tailwind utilities;

.handshake {
    animation: handshake 1s ease-in-out;
}

@keyframes handshake {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}