.button {
  height: 50px;
  width: 180px;
  background: linear-gradient(
    135deg,
    rgb(20, 255, 233),
    rgb(255, 235, 59),
    rgb(255, 0, 224)
  );
  border-radius: 23px;
  animation: animate 1.5s linear infinite;
  border: none;
  cursor: pointer;
}

.button,
.display,
#msg {
  transition: 0.3s;
}

.button:active .display {
  background: #fb5875;
}

.button:active .display #msg {
  -webkit-text-fill-color: #121c26;
}

.button:hover {
  scale: 1.05;
  animation: animate 0.7s linear infinite;
}

.button .display,
.button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button .display {
  z-index: 1;
  background-color: #121c26;
  height: 42.5px;
  width: 172.5px;
  border-radius: 20px;
  text-align: center;
}

.button .display #msg {
  line-height: 42.5px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(
    135deg,
    rgb(20, 255, 233),
    rgb(255, 235, 59),
    rgb(255, 0, 224)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.button span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 25px;
}

.button span:first-child {
  filter: blur(15px);
}

.button span:last-child {
  filter: blur(15px);
  transition: 0.3s;
}

.button:hover span:last-child {
  width: 110%;
  height: 120%;
}
